@charset 'UTF-8';
/*
	Copyleft 2013 iuri.blog.br
	Licença disponível em http://iuri.blog.br/sobre/
*/
.script_erro {
	color:yellow;
}
.script_erro span {
	color:yellow;
}
.ssi_erro {
	color:yellow;
}
.ssi_erro span {
	color:yellow;
}

