@charset 'UTF-8';
/*
	Copyleft 2013 iuri.blog.br
	Licença disponível em http://iuri.blog.br/sobre/
*/
body {
	background:#C00E2F;
	background:-moz-linear-gradient(bottom, #C00E2F 0%, #AB0B29 25%, #8F071F 100%);
	background:-webkit-gradient(linear, left bottom, left top, color-stop(0%,#C00E2F), color-stop(25%,#AB0B29), color-stop(100%,#8F071F));
	background:-webkit-linear-gradient(bottom, #C00E2F 0%,#AB0B29 25%,#8F071F 100%);
	background:-o-linear-gradient(bottom, #C00E2F 0%,#AB0B29 25%,#8F071F 100%);
	background:-ms-linear-gradient(bottom, #C00E2F 0%,#AB0B29 25%,#8F071F 100%);
	background:linear-gradient(to top, #C00E2F 0%,#AB0B29 25%,#8F071F 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C00E2F', endColorstr='#8F071F',GradientType=0 );
	color:white;
	font-family:"Consolas","Monaco","Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New", "Monospace";
	font-weight:bold;
}
a {
	color:white;
}
ul {
	list-style-type:none;
}
ul.horizontal, ul.horizontal li {
	padding:0.1em;
	display:inline;
}
ul.vertical, ul.vertical li {
	padding:0.1em;
	display:block;
}
hr {
	border:0;
	color:white;
	background-color:white;
	height:1px;
	-moz-border-radius:1em;
	-webkit-border-radius:1em;
	-opera-border-radius:1em;
	-khtml-border-radius:1em;
	border-radius:1em;
	-moz-box-shadow:0em 0em 0.5em 0.2em rgba(0,0,0,0.5);
	-webkit-box-shadow:0em 0em 0.5em 0.2em rgba(0,0,0,0.5);
	box-shadow:0em 0em 0.5em 0.2em rgba(0,0,0,0.5);
}

