@charset 'UTF-8';
/*
	Copyleft 2013 iuri.blog.br
	Licença disponível em http://iuri.blog.br/sobre/
*/
.principal {
	text-align:center;
}
.indice {
}
.frases tr, .frases td {
	border:0.01em solid white;
}
ul.horizontal a {
	text-decoration:none;
}
span.frase_normal {
}
span.frase_destaque {
	background-color:white;
	color:#D02121;
}

