@charset 'UTF-8';
/*
	Copyleft 2013 iuri.blog.br
	Licença disponível em http://iuri.blog.br/sobre/
*/
body {
	text-align:center;
}
img {
	border:0;
}
table {
	caption:top;
	margin-left:auto;
	margin-right:auto;
}
table.canais, table.postagens, table.canais tr, table.canais td, table.postagens tr, table.postagens td {
	border:0.1em solid white;
}
table.canais img {
	height:16;
	width:16;
}
table.postagens thead {
	background-color:white;
	color:#D02121;
}
table.postagens a {
	text-decoration:none;
}
.frases {
	font-size:xx-large;
}
.frases a {
	color:#D02121;
	text-decoration:none;
}
.frases span {
	background-color:white;
	color:#D02121;
}
.rodape_imagens img {
	height:32;
	width:32;
}
img.postagens_links_imagens {
	height:16;
	width:16;
}
img.postagens_links_imagens_grande {
	height:16;
}
.avisos_perigo img {
	height:64;
	width:64;
}

