@charset 'UTF-8';
/*
	Copyleft 2013 iuri.blog.br
	Licença disponível em http://iuri.blog.br/sobre/
*/
.disclaimer {
	font-style:italic;
}
.aviso, .perigo {
	font-weight:bold;
	text-decoration:underline;
}
.citacao {
	font-style:italic;
}
.poema li, .poema ul {
	font-style:italic;
	list-style-type:none;
}
/* Estilos antigos, para compatibilidade */
p.citacao {
	font-style:italic;
}
span.perigo, p.aviso {
	font-weight:bold;
	text-decoration:underline;
}
ul.poema {
	list-style-type:none;
}
ul.poema li {
	font-style:italic;
	list-style-type:none;
}

