/*
	Copyleft 2013 iuri.blog.br
	Licença disponível em http://iuri.blog.br/sobre/
*/
.disclaimer, p.citacao {
	font-style:italic;
}
span.perigo, p.aviso {
	font-weight:bold;
	text-decoration:underline;
}
ul.poema {
	list-style-type:none;
}
ul.poema li {
	font-style:italic;
	list-style-type:none;
}

