@charset 'UTF-8';
/*
	Copyleft 2013 iuri.blog.br
	Licença disponível em http://iuri.blog.br/sobre/
*/
* {
	margin:0;
}
html {
	height:100%;
}
body {
	height:100%;
}
p, h1, h2, h3, h4, h5, h6 {
	padding:0.5em;
}
.principal {
	padding-left:3em;
	padding-right:3em;
	min-height:100%;
	height:auto !important;
	height:100%;
	margin:0 auto -96px;
	background:#C00E2F;
	background:-moz-linear-gradient(bottom, #C00E2F 0%, #AB0B29 25%, #8F071F 100%);
	background:-webkit-gradient(linear, left bottom, left top, color-stop(0%,#C00E2F), color-stop(25%,#AB0B29), color-stop(100%,#8F071F));
	background:-webkit-linear-gradient(bottom, #C00E2F 0%,#AB0B29 25%,#8F071F 100%);
	background:-o-linear-gradient(bottom, #C00E2F 0%,#AB0B29 25%,#8F071F 100%);
	background:-ms-linear-gradient(bottom, #C00E2F 0%,#AB0B29 25%,#8F071F 100%);
	background:linear-gradient(to top, #C00E2F 0%,#AB0B29 25%,#8F071F 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C00E2F', endColorstr='#8F071F',GradientType=0 );
	-moz-box-shadow:inset -3em -1em 3em 0.5em rgba(0,0,0,0.5), inset 3em -1em 3em 0.5em rgba(0,0,0,0.5);
	-webkit-box-shadow:inset -3em -1em 3em 0.5em rgba(0,0,0,0.5), inset 3em -1em 3em 0.5em rgba(0,0,0,0.5);
	box-shadow:inset -3em -1em 3em 0.5em rgba(0,0,0,0.5), inset 3em -1em 3em 0.5em rgba(0,0,0,0.5);
	border-collapse: separate;
}
.divisoria {
	height:96px;
}
.rodape {
	text-align:center;
	position:fixed;
	bottom:0;
	width:100%;
	overflow:hidden;
	height:96px;
	background: #DC002B;
	background:-moz-linear-gradient(top, #DC002B 0%, #C40026 25%, #A6001F 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#DC002B), color-stop(25%,#C40026), color-stop(100%,#A6001F));
	background:-webkit-linear-gradient(top, #DC002B 0%,#C40026 25%,#A6001F 100%);
	background:-o-linear-gradient(top, #DC002B 0%,#C40026 25%,#A6001F 100%);
	background:-ms-linear-gradient(top, #DC002B 0%,#C40026 25%,#A6001F 100%);
	background:linear-gradient(to bottom, #DC002B 0%,#C40026 25%,#A6001F 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#DC002B', endColorstr='#A6001F',GradientType=0 );
}
.licenca {
	text-align:center;
	padding:0.01em;
}
.licenca_imagens {
	text-align:left;
	float:left;
}
.licenca_imagens_copyleft_kopimi {
	text-align:left;
	float:left;
}
.licenca_imagens_copyleft_kopimi img {
	height:38px;
	width:38px;
}
.licenca_texto {
	text-align:center;
	float:center;
}

