Options Indexes FollowSymLinks MultiViews
Order allow,deny
allow from all
DirectoryIndex index.html

# Isto é necessário para garantir que as fontes rss funcionarão como esperado
AddType application/rss+xml rss

