Options Indexes FollowSymLinks +Includes +ExecCGI -MultiViews +SymLinksIfOwnerMatch
Order allow,deny
allow from all

# Isto é necessário para executar os scripts
AddHandler cgi-script .pl

DirectoryIndex index.html

# Isto cria a proteção com senha neste diretório
AuthType Basic
# Mensagem que aparece para quem tenta acessar este diretório
AuthName "Administração"
AuthBasicProvider file
# Este arquivo não deve ficar aqui, deve estar em um lugar FORA dos arquivos do servidor e criptografado
AuthUserFile .htpasswd
# Nome do usuário para administrar
Require user admin

